<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoordinatePlane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F5E32461F8EA3870073B89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F5E325A1F8EA3870073B89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F5E32651F8EA3870073B89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
